h3 {
    font-size: 16px;
}
h4 {
    font-size: 15px;
}
h5 {
    font-size: 13px;
}

body {
    font-style: 11px;
}

.bg-primary-custom {
    background-color: $primaryColor !important;
}

.icon-very-small {
    border-radius: 12px;
    // font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 36px;
    // transform: translateY(2px);
}

.btn {
    font-size: 11px;
}

// classes overwrite
.bg-green-dark {
    background-color: darken(#8CC152, 5%) !important;
    color: $white !important;
}

#punchInButton.btn:disabled {
    background-color: #fff !important;
    color: #000 !important;
}