h3 {
    font-size: 16px;
}
h4 {
    font-size: 15px;
}
h5 {
    font-size: 13px;
}

body {
    font-style: 11px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: $primaryColor !important;
}
body * {
    font-family: Calibri, 'Trebuchet MS', sans-serif !important;
}

// attendence colors class defining
.text-attendence-present {
    color: #10661d !important;
}
.text-attendence-absent {
    color: #600000 !important;
}
.text-attendence-leave {
    color: #2c437a !important;
}
.text-attendence-holiday {
    color: #8d0081 !important;
}
.text-attendence-weekoff {
    color: var(--attendence-text-color) !important;
}
.text-attendence-working-hrs {
    color: #5d2a00 !important;
}
.text-attendence-avg-working-hrs {
    color: #5d5500 !important;
}
.text-attendence-productive-hrs {
    color: #370060 !important;
}
.text-attendence-travaling-hrs {
    color: #387982 !important;
}
.text-attendence-color {
	color: var(--attendence-text-color) !important;
}

.text-api-present {
    color: var(--attendence-present-color) !important;
}
.text-api-absent {
    color: var(--attendence-absent-color) !important;
}
.text-api-leave {
    color: var(--attendence-leave-color) !important;
}
.text-api-holiday {
    color: var(--attendence-holiday-color) !important;
}
.text-api-weekoff {
    color: var(--attendence-weekoff-color) !important;
}

.bg-present { background-color: #10661d !important; }
.bg-absent { background-color: #600000 !important; }
.bg-leave { background-color: #2c437a !important; }
.bg-holiday { background-color: #8d0081 !important; }
.bg-working-hrs { background-color: #5d2a00 !important; }
.bg-avg-working-hrs { background-color: #5d5500 !important; }
.bg-productive-hrs { background-color: #370060 !important; }
.bg-travaling-hrs { background-color: #387982 !important; }

.bg-attendence-present {
    background-color: var(--attendence-present-color) !important;
}
.bg-attendence-absent {
    background-color: var(--attendence-absent-color) !important;
}
.bg-attendence-leave {
    background-color: var(--attendence-leave-color) !important;
}
.bg-attendence-holiday {
    background-color: var(--attendence-holiday-color) !important;
}
.bg-attendence-weekoff {
    background-color: var(--attendence-weekoff-color) !important;
}
.bg-attendence-working-hrs {
    background-color: var(--attendence-working-color) !important;
}
.bg-attendence-avg-working-hrs {
    background-color: var(--attendence-avg-working-color) !important;
}
.bg-attendence-productive-hrs {
    background-color: var(--attendence-productive-color) !important;
}
.bg-attendence-travaling-hrs {
    background-color: var(--attendence-travaling-color) !important;
}

.bg-tech-detail-present {
	background-color: #aeffb5;
}
.bg-tech-detail-absent {
	background-color: #ff9f95;
}
.bg-tech-detail-leave {
	background-color: #b0ceed;
}
.bg-tech-detail-holiday {
	background-color: #ff8cea;
}
.bg-tech-weekoff {
	background-color: var(--attendence-weekoff-color);
}
.bg-tech-detail-working-hrs {
	background-color: #ffbf94;
}
.bg-tech-detail-avg-working-hrs {
	background-color: #fffd93;
}
.bg-tech-detail-productive-hrs {
	background-color: #ba8ced;
}
.bg-tech-detail-travaling-hrs {
	background-color: #b1eced;
}
// attendence colors class defining ends

.bg-primary-custom {
    background-color: $primaryColor !important;
}
.bg-primary2-custom {
    background-color: $primary2Color !important;
}

.color-primary-custom {
    color: $primaryColor !important;
}

.color-primary2-custom {
    color: $primary2Color !important;
}

.icon-very-small {
    border-radius: 12px;
    // font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 31px;
    // transform: translateY(2px);
}

.btn {
    font-size: 11px;
}

.height-0 {
    height: 0 !important;
}

// classes overwrite
.bg-green-dark {
    background-color: darken(#8CC152, 5%) !important;
    color: $white !important;
}

#punchInButton.btn,
#punchOutButton.btn {

    &:disabled {
        background-color: grey !important;
        color: #fff !important;

    }
    span:first-child  {
        position: relative;
        top: 10px;
        transition: top 0.3s;
    }
    span:last-child {
        opacity: 0;
    }
}

#punchInButton.btn.punched,
#punchOutButton.btn.punched {
    span:first-child  {
        top: 0px;
    }
    span:last-child {
        opacity: 1;
    }
}

div.ambouse {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.125) !important;
}
div.ambouse-primary {
    box-shadow: 0px 0px 8px 0px rgba(35, 37, 131, 0.5) !important;
}
div.ambouse-lg {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.125) !important;
}

// Homepage CSS
.attendence-details,
.travel-details,
.collection-details,
.expense-details{
    color: $primaryColor;
}